# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.svn
node_modules
dist
dist-ssr
*.local

vite.config.js

back2
arcturus/objects/
arcturus/terrain/
arcturus/node_modules/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.crt
*.key
*.p7b
*.ca-bundle
yarn.lock
package-lock.json
httpVars.js
httpVars.jsx
node_modules
arcturus/vite.config.js
