


.loadingPanel
{
	border: 5px solid #101314; 
	width: 600px; 
	height: 400px; 
	background-color: black;  
	margin-left: auto; 
	margin-right: auto; 
	border-radius: 15px;  
}

.home{
	background-image:url('/Images/Home.jpg'); 
	background-position: center; 
	background-size: cover;
	height: 100vh;
	width: 100vw;
}



.logo{
	width: 600px; 
	height: 40px; border-radius: 15px 15px 0 0;   
	margin-left: auto; 
	margin-right: auto;
}

.paddingTopTen
{
	padding-top: 10px;
}

.paddingTop20
{
	padding-top: 20px;
}


.form{
	width: 90%; 
	height: 800px; 
 
	/*margin: auto auto; */

	
	 margin-left: auto; margin-right: auto; border-radius: 15px;  white-space:normal;
}
.loginTable{
	display:flex;
	padding: 0;
    margin: 0;
    width:100%;
    height:98vh;
	min-height: 98vh;
	text-align: center;

	justify-content: center;
}



.RightRows{
	display:flex;
	flex-direction: rows;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
 .mainFlex{
	flex: 1;
	height:98vh;
	min-height:98vh;
	
}


.loginDisable{
	font-family: WebPapyrus;
	font-size: 12px;
	
	border-color: #776a05;
	
	font-size: 20px;
	font-family: 'WebPapyrus';
	color:#776a05;

	padding: 10px; 
	background-color:rgba(0, 0, 0, 0);
}
.loginEnable{
	font-size: 20px;
	font-family: 'WebPapyrus';
	background-color:rgba(0, 0, 0, 0);
	border-color:#ffe51c;
	padding: 10px; 
	color:#ffe51c;
	
}

.loginTxt{
	background-color:rgba(0, 0, 0, 0);
	width: 500px;
	font-size: 30px;
	font-family: 'WebPapyrus';
	outline: 0;
	border-width: 0 0 2px;
	border-color: #D6BD00;
	color:#D6BD00;
}

.loginTxt:focus{
	color: #ffe51c;
	border-color: #ffe51c;
	outline: 1px dotted #212c2d;
}

.createLink
{
	font-family: WebPapyrus;
	font-size: 20px;
	color:  #776a05;
	text-decoration: none;
	font-family: WebRockwell;
	cursor: pointer;
}

.createLink:hover{
	color: #ffe51c;
}
.glowText {
	color: #888888;
	cursor: pointer;
}

.glowText:hover {
	color: white;
}
.checkPos
{
	text-align: left;


	display: flex;
}

.check {

	margin:3px;
	margin-right: 5px;
  width: 11px;
  height: 11px;
  border: 1px dotted #70787a;
	
  background-color:rgba(0, 0, 0, 0);
  cursor:"pointer"
}

.checked {
	
	border: 1px solid #70787a75;
	margin:3px;
	margin-right: 5px;
	  width: 11px;
  height: 11px;
  background-image: radial-gradient( #ffffff 25%,  #10131430 70%);
  background-repeat: no-repeat;
  background-position: center;

   cursor:"pointer"
}

.submitPos
{
	text-align: right; 
	padding-top: 10px; 
	padding-right: 40px;
}

